.checkoutproduct-rating{
display: flex;

}
.checkout_product{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;

}
.checkout-product_info{
    padding-left: 20px;
}
.checkout-product_info > button{
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846a29; 
    color: #111;
}
.checkout_product_img{
    object-fit: contain;
    width: 180px;
    height: 180px;
}
.checkoutproduct_title{
    font-size: 17px;
    font-weight: 800;
}