.payment{
    background-color: white;
}
.payment_container > h1{
text-align: center;
padding: 10px;
font-weight: 400;
background-color: rgb(234,237,237);
border-bottom: 1px solid lightgray;
}
.payment_container > h1 a {
    text-decoration: none;
}
.payment_section{
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}
.payment_title{
    flex:0.2;
}
.payment_Address, .payment_items{
    flex:0.8;
}
.but{
    background-color: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88734 #9c7e31 #846129;
    color:#111;
}